
/*animate*/
.hidden,
.animated-hidden {
    filter: none !important;
}

.visible,
.animated-visible{
    filter: none !important;
}

/*slider-device*/
.page .slider-device .slick-prev:before,
.page .slider-device .slick-next:before,
.page .details-slider .slick-prev:before,
.page .details-slider .slick-next:before {
    display: none;
}

.page .slider-device .slick-prev,
.page .slider-device .slick-next,
.page .details-slider .slick-prev,
.page .details-slider .slick-next {
    background-repeat: no-repeat;
    background-color: transparent !important;
    filter: none;
}
.page .slider-device .slick-prev:hover,
.page .slider-device .slick-next:hover,
.page .details-slider .slick-prev:hover,
.page .details-slider .slick-next:hover {
    background-color: transparent;
}

/*huk*/
.page .details-slider .slick-next {
    right: 40px;
}

.page .slider-device .slick-prev,
.page .details-slider .slick-prev {
    background-position: 0 0;
}
.page .slider-device .slick-prev:hover,
.page .details-slider .slick-prev:hover {
    background-position: 0 -75px;
}

.page .slider-device .slick-next,
.page .details-slider .slick-next {
    background-position: -75px 0;
}

.page .slider-device .slick-next:hover,
.page .details-slider .slick-next:hover {
    background-position: -75px -75px;
}

.page.vtb .slider-device .slick-prev,
.page.vtb .slider-device .slick-next,
.page.sngb .slider-device .slick-prev,
.page.sngb .slider-device .slick-next {
    background-image: url("../img/arrow-slider-lightRed-red.png");
}

.page.standfore .slider-device .slick-prev,
.page.standfore .slider-device .slick-next {
    background-image: url("../img/arrow-slider-lightRed-red.png");
}

.page.qulix .slider-device .slick-prev,
.page.qulix .slider-device .slick-next,
.page.qulix .details-slider .slick-prev,
.page.qulix .details-slider .slick-next {
    background-image: url("../img/arrow-slider-lightBlue-black.png");
}

.page.uralsib .slider-device .slick-prev,
.page.uralsib .slider-device .slick-next,
.page.rosbank .slider-device .slick-prev,
.page.rosbank .slider-device .slick-next {
    background-image: url("../img/arrow-slider-grayDark-black.png");
}

/**/
.page.sberbank .slider-device .slick-prev,
.page.sberbank .slider-device .slick-next,
.page.webpolygons .slider-device .slick-prev,
.page.webpolygons .slider-device .slick-next,
.page.expressbank .slider-device .slick-prev,
.page.expressbank .slider-device .slick-next,
.page.onlinecredit .slider-device .slick-prev,
.page.onlinecredit .slider-device .slick-next,
.page.rsb .slider-device .slick-prev,
.page.rsb .slider-device .slick-next {
    width: 84px !important;
    height: 84px !important;
}

.page.sberbank .slider-device .slick-prev,
.page.webpolygons .slider-device .slick-prev,
.page.expressbank .slider-device .slick-prev,
.page.onlinecredit .slider-device .slick-prev,
.page.rsb .slider-device .slick-prev {
    background-position: 0 0 !important;
}

.page.sberbank .slider-device .slick-prev:hover,
.page.webpolygons .slider-device .slick-prev:hover,
.page.rsb .slider-device .slick-prev:hover,
.page.expressbank .slider-device .slick-prev:hover,
.page.onlinecredit .slider-device .slick-prev:hover {
    background-position: 0 -89px !important;
}

.page.sberbank .slider-device .slick-next,
.page.webpolygons .slider-device .slick-next,
.page.rsb .slider-device .slick-next,
.page.expressbank .slider-device .slick-next,
.page.onlinecredit .slider-device .slick-next {
    background-position: -89px 0 !important;
}

.page.sberbank .slider-device .slick-next:hover,
.page.webpolygons .slider-device .slick-next:hover,
.page.rsb .slider-device .slick-next:hover,
.page.expressbank .slider-device .slick-next:hover,
.page.onlinecredit .slider-device .slick-next:hover {
    background-position: -89px -89px !important;
}

.page.webpolygons .slider-device .slick-prev,
.page.webpolygons .slider-device .slick-next,
.page.rsb .slider-device .slick-prev,
.page.rsb .slider-device .slick-next,
.page.expressbank .slider-device .slick-prev,
.page.expressbank .slider-device .slick-next,
.page.onlinecredit .slider-device .slick-prev,
.page.onlinecredit .slider-device .slick-next {
    background-image: url("../img/arrow-slider-white-arrorRed.png") !important;
}

.page.sberbank .slider-device .slick-prev,
.page.sberbank .slider-device .slick-next {
    background-image: url("../img/arrow-slider-white-arrorGreen.png") !important;
}

.page .magnify .magnify-lens {
    border: 4px solid #e5e5e5;
}

.page.uralsib .icon-block .element p {
    padding-top: 10px;
}

.sberbank .icon-block .bg p,
.sberbank .icon-block .bg p,
.sberbank .icon-block .bg p{
    padding-top: 10px;
    margin-top: 0;
}

.page .header.fixed {
    border-bottom: 2px solid #e5e5e5;
}

.page .form.full-form textarea {
    min-height: 116px;
}

.page .section-header {
    padding-top: 0;
}
.page .section-header .container {
    padding-top: 160px;
}

.footer .form input[type="text"],
.footer .form input[type="email"],
.footer .form input[type="tel"],
.footer .form textarea{
    background: #344457;
    color: #757b81;
    border-color: #474d53;
}

.comment .element.slick-active .user-photo img {
    display: none;
}
.comment:hover .element.slick-active .user-photo img {
    display: block;
}

.container .slick-prev,
.container .slick-next,
.container:hover .slick-prev,
.container:hover .slick-next {
    filter: none !important;
}

.partners .container .slick-prev,
.partners .container .slick-next,
.comment .container .slick-prev,
.comment .container .slick-next {
    display: none !important;
}

.partners:hover .container .slick-prev,
.partners:hover .container .slick-next,
.comment:hover .container .slick-prev,
.comment:hover .container .slick-next {
    display: block !important;
}

body,
.header {
    min-width: 980px !important;
}

.container {
    width: 980px !important;
}

.list-block .item-content {
    display: block !important;
}

.main .section-header .container {
    padding-top: 110px !important;
}

.alert-modal .preloader .img{
    height: 500px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    background: url(../img/select-icon.png) left top no-repeat;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    background-position: left bottom;
}

.js .photostack figure {
    position: static;
    display: inline-block;
}

.js .photostack {
    height: auto;
    padding-top: 40px;
    padding-bottom: 70px;
}

.js .photostack > div {
    width: 100%;
    max-width: 980px;
    padding: 0 20px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}